md-icon.logo(ui-sref="home" md-svg-icon="img/logo.svg")
span(flex)
md-menu-bar(hide-xs hide-sm)
    button(ng-click="gotoAnchor(1)") ¿Que es Canny?
    button(ng-click="gotoAnchor(2)") Lifesstyle
    button(ng-click="gotoAnchor(4)") Siguenos
    button(ng-click="gotoAnchor(5)") Contactanos
