extends ../index

block moreHead
	script(type="text/javascript" src="js/main/main.states.js")
	script(type="text/javascript" src="js/main/main.controller.js")

block content

	div(ng-controller="mainCtrl as mainctrl")
		header(layout="row" layout-align="around-space center")
			include ../partials/nav
		//- .centro(layout="row" layout-align="center center")
		//- 	div(flex="100")		
		main(ui-view="main" class="page")
		md-divider
		footer(layout="row" layout-align="space-around center")
			include ../partials/footer
